<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BON HOTEL</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <style>
        body {
          position: relative;
          height: 100vh;
          background-color: #ffefd5;
        }

        footer {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
        }
        .p-text {
          font-size: 1.2em;
          font-weight: bold;
          color: #333;
         }
    </style>
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom" bis_skin_checked="1">
    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <span class="fs-4">BON HOTEL</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">Главная</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/about">О нас</a>
    </nav>
</div>

<div class="container mt-5">
    <div class="p-text"><p>Добро пожаловать в наш уютный уголок гостеприимства!<br>
        Мы - BON HOTEL, приглашаем вас окунуться в атмосферу роскоши,<br>
        комфорта и внимания к каждой детали вашего пребывания.<br>
        BON HOTEL - это не просто место для ночлега,<br>
        это ваш дом вдали от дома, где каждый гость - это часть нашей семьи.<br>
        Мы стремимся создать идеальное сочетание элегантности и уюта,<br>
        чтобы ваше пребывание было незабываемым.<br><br>

        Наши просторные и стильные номера<br>
        обеспечат вам все необходимое для расслабленного отдыха<br>
        или продуктивной работы.<br>
        Насладитесь изысканными блюдами нашего ресторана,<br>
        ощутите прикосновение роскоши в наших спа-процедурах<br>
        или просто насладитесь приятным времяпрепровождением<br>
        в нашем уютном лобби.<br><br>

        Мы гордимся нашим профессиональным и дружелюбным персоналом,<br>
        который всегда готов пойти навстречу вашим пожеланиям,<br>
        чтобы ваше пребывание у нас оставило самые теплые воспоминания.<br><br>

        BON HOTEL - это не просто место, это опыт,<br>
        который мы создаем для вас с любовью и заботой.<br>
        Добро пожаловать в наш мир идеального отдыха!</p>
    </div>
</div>

<footer class="py-3 mt-5 border-top">
    <div class="container d-flex justify-content-between">
        <p>&copy; 2024 BON HOTEL</p>
        <p>+7 999 123-45-67</p>
        <p><a href="mailto:info@bonhotel.com">info@bonhotel.com</a></p>
        <a href="#" class="btn btn-warning">VK</a>
        <a href="#" class="btn btn-warning">Telegram</a>
        <a href="#" class="btn btn-warning">Facebook</a>
        <a href="#" class="btn btn-warning">Youtube</a>
    </div>
</footer>

</body>
</html>